@font-face {
   font-family: 'Action_Force';
   font-display: swap;
   src: url('file:///C:/Users/roman/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-03-14_131151/fonts/Action_Force/font.ttf');
}
